* {
    padding: 0;
    margin: 0;
}

/*Cabecera*/
.main-header {
    background-color: #753e48;

}

.title {
    padding: 15px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.vinculo-texto {
    text-decoration: none;
    color: #ffffff;
    font-size: 55px;
}

.vinculo-texto:hover{
    animation: Titulo 2s;
}

/* Keyframe Titulo */

@keyframes Titulo {
    0% {
        text-decoration: none;
        color: #ffffff
    }

    100% {
        font-size: 70px;
        text-decoration: underline;
    }


}


.navbar {
    padding: 15px;
    background-color: #343b38;
}


a {
    text-decoration: none;
    color: #1F3D70;
    font-size: 2.3rem;
}

ul li a:hover {
    text-decoration: underline;
}

body {
    background-color: rgb(236, 221, 221);
}

/*Fin cabecera*/
.main-page {
    background-color: #aac2d4;
    margin: 10px;
}

/*Pagina principal*/
.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
}

.grid-video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}



.imagen-index {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
    background-color: rgb(129, 129, 185);
    justify-content: center;
    transition: all 3s ease-out;
}

.imagen-index-right {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
    background-color: rgb(129, 129, 185);
    justify-content: center;
    transition: all 3s ease-out;
}


.imagen {
    width: 100%;
    height: 70%;
    display: flex;
}

.imagen-index:hover {
    transform: scale(1.1) translateX(300px);
    background-color: rgb(62, 62, 102);
}

.imagen-index-right:hover {
    transform: scale(1.1) translateX(-300px);
    background-color: rgb(62, 62, 102);

}

.imagen img {
    width: 100%;
    height: 100%;
}


.texto {
    text-align: justify;
}



.pie-de-pagina {
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: rgb(63, 62, 62);
    padding: 20px;
}

.fa-brands {
    color: white;
}

/* Premier League Pagina*/

.imagen-premier {
    width: 600px;
    height: 300px;
    font-size: 1.34rem;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: rgb(111, 111, 126);
}


/* Fa Cup Pagina */

.imagen-facup {
    width: 600px;
    height: 300px;
    font-size: 1.34rem;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: rgba(150, 71, 139, 0.548)
}

/* Carabao Cup Pagina */

.imagen-carabaocup {
    width: 600px;
    height: 300px;
    font-size: 1.34rem;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: rgba(5, 44, 5, 0.548)
}

/* Championship Pagina */

.imagen-championship {
    width: 600px;
    height: 300px;
    font-size: 1.34rem;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: rgba(60, 153, 160, 0.548)
}



/* Responsive Design */

@media (max-width:450px) {

    .grid {
        display: flex;
        flex-direction: column;
    }
    
    .imagen-index {
        width: 400px;
        height: 250px;
        transition: all 3s ease-out;
    }

    .imagen-index:hover {
        transform: scale(1.05) translateX(3px);
        background-color: rgb(62, 62, 102);

    }

    .imagen-index-right {
        width: 400px;
        height: 250px;
        transition: all 3s ease-out;
    }

    .imagen-index-right:hover {
        transform: scale(1.05) translateX(3px);
        background-color: rgb(62, 62, 102);

    }

    .imagen {
        width: 100%;
        height: 63%;
        display: flex;
        justify-content: center;
    }

    .imagen img {
        width: 100%;
        height: 100%;
    }

    .texto {
        text-align: justify;
        font-size: 0.9rem;
    }

    .grid-video {
        display: flex;
        flex-direction: column;
    }

    iframe {
        width: 420px;
        height: 319px;
        padding-bottom: 5px;
    }

    .redes {
        padding: 0px 10px;
    }

    /* Premier Responsive */
    .imagen-premier {
        width: 400px;
        height: 250px;
    }

    /* Fa cup responsive */
    .imagen-facup {
        width: 400px;
        height: 250px;
    }

    /* Carabaocup responsive */
    .imagen-carabaocup {
        width: 400px;
        height: 250px;
    }

    /* Championship responsive */
    .imagen-championship {
        width: 400px;
        height: 250px;
    }
}


/* tablet */

@media (min-width:451px) and (max-width:960px) {

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .imagen-index {
        width: 430px;
        height: 270px;
        transition: all 3s ease-out;
    }

    .imagen-index-right {
        width: 430px;
        height: 270px;
        transition: all 3s ease-out;
    }

    .imagen-index:hover {
        transform: scale(1.1) translateX(200px);
        background-color: rgb(62, 62, 102);
    }

    .imagen-index-right:hover {
        transform: scale(1.1) translateX(-200px);
        background-color: rgb(62, 62, 102);

    }

    .imagen {
        width: 100%;
        height: 63%;
        display: flex;
        justify-content: center;
    }

    .imagen img {
        width: 100%;
        height: 100%;
    }

    .texto {
        text-align: justify;
        font-size: 1rem;
    }

    .grid-video {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    iframe {
        width: 420px;
        height: 319px;
        padding-bottom: 5px;
    }

    .redes {
        padding: 0px 10px;
    }

    /* Premier Responsive */
    .imagen-premier {
        width: 430px;
        height: 270px;
    }

    /* Facup Responsive */
    .imagen-facup {
        width: 430px;
        height: 270px;
    }

    /* Carabaocup responsive */

    .imagen-carabaocup {
        width: 430px;
        height: 270px;
    }

    .imagen-championship {
        width: 400px;
        height: 250px;
    }

}