/* nesting o anidamiento */
/* Variables */
/* Paleta de colores */
.main-header {
  padding: 15px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: #753e48;
}

.vinculo-texto {
  text-decoration: none;
  color: #ffffff;
  font-size: 55px;
}
.vinculo-texto:hover {
  animation: Titulo 2s;
}
@keyframes Titulo {
  0% {
    text-decoration: none;
    color: #ffffff;
  }
  100% {
    font-size: 70px;
    text-decoration: underline;
  }
}

.navbar {
  padding: 15px;
  background-color: #343b38;
}
.navbar a {
  text-decoration: none;
  color: #1F3D70;
  font-size: 2.3rem;
}
.navbar a:hover {
  text-decoration: underline;
}

body {
  background-color: #aac2d4;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}
.grid div div p {
  text-align: justify;
}
@media (max-width: 450px) {
  .grid div div p {
    text-align: justify;
    font-size: 0.8rem;
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  .grid div div p {
    text-align: justify;
    font-size: 0.9rem;
  }
}
@media (max-width: 450px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  .grid {
    display: grid;
    flex-direction: column;
  }
}

.imagen-index {
  width: 600px;
  height: 300px;
  border: 1px solid black;
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
  background-color: rgb(129, 129, 185);
  justify-content: center;
  transition: all 3s ease-out;
}
.imagen-index:hover {
  transform: scale(1.1) translateX(300px);
  background-color: rgb(62, 62, 102);
}
@media (max-width: 450px) {
  .imagen-index {
    width: 400px;
    height: 250px;
    transition: all 3s ease-out;
  }
  .imagen-index:hover {
    transform: scale(1.05) translatex(10px);
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  .imagen-index {
    width: 430px;
    height: 270px;
    transition: all 3s ease-out;
  }
  .imagen-index:hover {
    transform: scale(1.1) translatex(200x);
  }
}

.imagen-index-right {
  width: 600px;
  height: 300px;
  border: 1px solid black;
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
  background-color: rgb(129, 129, 185);
  justify-content: center;
  transition: all 3s ease-out;
}
.imagen-index-right:hover {
  transform: scale(1.1) translateX(-300px);
  background-color: rgb(62, 62, 102);
}
@media (max-width: 450px) {
  .imagen-index-right {
    width: 400px;
    height: 250px;
    transition: all 3s ease-out;
  }
  .imagen-index-right:hover {
    transform: scale(1.05) translatex(10px);
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  .imagen-index-right {
    width: 430px;
    height: 270px;
    transition: all 3s ease-out;
  }
  .imagen-index-right:hover {
    transform: scale(1.1) translatex(200x);
  }
}

.imagen {
  width: 100%;
  height: 70%;
  display: flex;
}
.imagen img {
  width: 100%;
  height: 100%;
}
@media (max-width: 450px) {
  .imagen {
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  .imagen {
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
  }
}

.grid-video {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
@media (max-width: 450px) {
  .grid-video {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  .grid-video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .grid-video div iframe {
    width: 420px;
    height: 319px;
    padding-bottom: 5px;
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  .grid-video div iframe {
    width: 420px;
    height: 319px;
    padding-bottom: 5px;
  }
}

.pie-de-pagina {
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: rgb(63, 62, 62);
  padding: 20px;
}

@media (max-width: 450px) {
  .redes {
    padding: 0px 10px;
  }
}

.fa-brands {
  color: white;
}

/*# sourceMappingURL=style.css.map */
