body {
    background-color: $page-color;
}

.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);

    div {
        div {
            p {
                text-align: justify;

                @media (max-width:450px) {
                    text-align: justify;
                    font-size: .8rem;
                }

                @media (min-width:451px) and (max-width:960px) {
                    text-align: justify;
                    font-size: .9rem;
                }
            }
        }

    }

    @media (max-width:450px) {
        display: flex;
        flex-direction: column;
    }
    
    @media (min-width:451px) and (max-width:960px) {
        display: grid;
        flex-direction: column;
    }
}


.imagen-index {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
    background-color: rgb(129, 129, 185);
    justify-content: center;
    transition: all 3s ease-out;

    &:hover {
        transform: scale(1.1) translateX(300px);
        background-color: rgb(62, 62, 102);
    }

    @media (max-width:450px) {
        width: 400px;
        height: 250px;
        transition: all 3s ease-out;

        &:hover {
            transform: scale(1.05) translatex(10px);
        }
    }
    @media (min-width:451px) and (max-width:960px) {
        width: 430px;
        height: 270px;
        transition: all 3s ease-out;

        &:hover {
            transform: scale(1.1) translatex(200x);
        }
    }
}

.imagen-index-right {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
    background-color: rgb(129, 129, 185);
    justify-content: center;
    transition: all 3s ease-out;

    &:hover {
        transform: scale(1.1) translateX(-300px);
        background-color: rgb(62, 62, 102);
    }

    @media (max-width:450px) {
        width: 400px;
        height: 250px;
        transition: all 3s ease-out;

        &:hover {
            transform: scale(1.05) translatex(10px);
        }
    }
    @media (min-width:451px) and (max-width:960px) {
        width: 430px;
        height: 270px;
        transition: all 3s ease-out;

        &:hover {
            transform: scale(1.1) translatex(200x);
        }
    }
}

.imagen {
    width: 100%;
    height: 70%;
    display: flex;

    img {
        width: 100%;
        height: 100%;
    }

@media (max-width:450px) {
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
}

@media (min-width:451px) and (max-width:960px) {
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
}
}

.grid-video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: space-evenly;
    margin: 10px;

    @media (max-width:450px) {
        display: flex;
        flex-direction: column;
    }

    @media (min-width:451px) and (max-width:960px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    div {
        iframe {
            @media (max-width:450px) {
                width: 420px;
                height: 319px;
                padding-bottom: 5px;
            }

            @media (min-width:451px) and (max-width:960px) {
                width: 420px;
                height: 319px;
                padding-bottom: 5px;
            }
        }
    }
}

.pie-de-pagina {
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: rgb(63, 62, 62);
    padding: 20px;
}

.redes {
    @media (max-width:450px) {
        padding: 0px 10px;
    }
}

.fa-brands {
    color: white;
}